.altoFooter{
	margin-top:10px;
	margin-bottom:10px;
	max-height: 30px

}

.anchoLista{
	min-width:10px
	max-width: 300px;
	max-height: 60px
}

.iconoMargen{
	padding-top: 5px;
	padding-bottom: 5px;
}

.margenTexto{
	margin-left: 25px;


}

.blocks{
	width: 100px;
}